@CHARSET "UTF-8";

.button1 {
	width: 350px;
	height: 200px;
}

#location {
	left: -86%
}

.size {
	font-size: 10;
}

.inline {
	display: inline;
}

.active {
	color: red;
}

#myModal .modal-body{
	width : 80%;
}

#table1 #table2 #full_color{
	bgcolor : red;
}

#table1 #table2 #empty_color{
	bgcolor : green;
}
#table1 #table2 tr > td{
}
.cctv_frame{
	width :400px;
	height :300px;
	display: inline;
}

.textarea{
	width: 100%;