@CHARSET "UTF-8";
<<<<<<< HEAD
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.font-style{
	font-family: 'Jeju Gothic', serif;﻿
}
=======
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce

.button1 {
	width: 350px;
	height: 200px;
}

#location {
	left: -86%
}

.size {
	font-size: 10;
}

.inline {
	display: inline;
}

.active {
	font-color: #B2E6E5;
}

#myModal .modal-body{
	width : 80%;
}
#table1 #table2 #full_color{
	bgcolor : red;
}
#table1 #table2 #empty_color{
	bgcolor : green;
}
#table1 #table2 tr > td{
}
.cctv_frame{ 
	width :400px;
	height :300px;
	display: inline;
}
#board_title{
	width:85%;
}
#board_textarea{
	width:85%;
	height:300px;
}
#board_modify_btn{
	display: block;
    margin-left: 60%;
}
#anonymous_select{
	margin: 0 auto;
	font-size: 11px;
}
#secret_select{
	margin: 0 auto;
	font-size: 11px;
}
#sidebar{
<<<<<<< HEAD

	width: 15%;

=======
	width: 15%;
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce
}
#board_title{
	font-size: 30px;
}
#hr_1{
	border:0;
	border-bottom:1px dashed #ccc;
	background: #999;
	margin-top: 6px;
	margin-bottom: 0px;
}
#hr_2{
	border:0;
	border-bottom:1px dashed #ccc;
	background: #999;
	margin-top: 8px;
	margin-bottom: 3px;
}
#board_span{
	margin-right: 2%;
}
#board{
	border-style: dotted;
    border-width: 1.5px;
    border-width: 100%;
    height: 50%;
}
#board_list_btn{
	margin-left: 80%;
}
.ui-datepicker-calendar {
    display: none;
 }

.strong{
	font-weight : bold;
}
#user_id:hover{
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	color: #ffffff;
	background: #66cdcc;
	border-color: #66cdcc;
}

element.style {
}

.navbar {
background-color: #A3E1E0;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
border-bottom: 5px solid #A3E1E0;
filter: none;
-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
font-family: 'Jeju Gothic', serif;﻿
=======
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce
}

.navbar-fixed-top {
top: 0;
border-width: 0 0 4px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
border-radius: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}


.navbar {
border-radius: 4px;
}

.navbar {
position: relative;
min-height: 80px;
margin-bottom: 60px;
margin-top:30;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
user agent stylesheetdiv {
display: block;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
margin-top:0;
content: " ";
display: table;
<<<<<<< HEAD

=======
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
clear: both;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
margin-top:10;
display: table;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #555555;
background-color: #ffffff;
}

html {
font-size: 10px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}


element.style {
}

.navbar-fixed-top{
top: 0;
border-width: 0 0 4px;
border-radius: 0;
position: fixed;
right: 0;
left: 0;
z-index: 1030;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.navbar-fixed-bottom{
position:relative;
border-top:5px solid #A3E1E0;
right: 0;
left: 0;
z-index: 1030;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
 }

.navbar {
background-color: #A3E1E0;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
border-bottom: 5px solid #A3E1E0;
-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
border-radius: 4px;
position: relative;
min-height: 80px;
margin-bottom: 60px;
margin-top:30;

}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
user agent stylesheetdiv {
display: block;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
content: " ";
display: table;
margin-top:10;
box-color : #B2E6E5;
font-color: #A0CFCE;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
box-color : #B2E6E5;
}


.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
clear: both;
}

body {
<<<<<<< HEAD
font-family:'Jeju Gothic', serif;
=======
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce
font-size: 14px;
line-height: 1.42857143;
color: #555555;
background-color: #ffffff;
}

html {
font-size: 10px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

.head{
   background-color: #53c7c6;
   color:#FFFFFF
} 

.body{
   background-color: #FFFFFF;
   color:#888888;
}
table tbody{
   background-color: #FFFFFF;
   color:#888888;
}

.margin{
	margin-left: 35%;
}
.margin2{
	margin-left: 8%;
}
<<<<<<< HEAD
.margin3{
	margin-left:16%;
}
.margin4{
	margin-left:26%;
}
.margin5{
	margin-left: 5%;
}
.margin6{
	margin-top: 5%;
}




=======
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce



@CHARSET "UTF-8";

#panel-style{
	background-color: #effaf9;
	color:#000000;
}
.head-style{
	background-color: #53c7c6;
	color:#FFFFFF
} 

.body-style{
	background-color: #FFFFFF;
	color:#888888;
}
table tbody{
	background-color: #FFFFFF;
	color:#888888;
}

.button-style{
	background-color: #888888;
	color : #FFFFFF;
}
.button-delete-style{
	background-color: #f39192;
	color : #FFFFFF;
}

.table-style{
	border: 3px solid #5bb8b7;
}
<<<<<<< HEAD

=======
.font-style{
	font-family: -윤고딕310;
}
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce

.input-style{
	border: 1px solid #5bb8b7;
	background-color: #66cdcc;
	color : #FFFFFF;
}

.input-text-style{
	border: 1px solid #5bb8b7;
}
.label-style{
	border: 2px solid #5bb8b7;
	background-color: #66cdcc;
	color : #FFFFFF;
	font-size: large;
<<<<<<< HEAD
}
=======
}
>>>>>>> 1e37c7456117a7bed2107b809b36f8437d99e8ce
